*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #1687a7;
    --secondary: #276678;
    --primary-light: #d3e0ea;
    --primary-dark: #03506f;
    --background: #f4f9f9;
    --width-break: 800px;
  }
body{
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
    
}
.hidden{
    display: none;
}

header{
    text-align: center;
    padding: 1rem;
    padding-top: 0;
    
}
#description{
    font-size: larger;
    padding: 1rem;
}
h1{
    font-size: 3rem;
}
label{
    display: block;
    padding: 0.5rem;
    font-size: larger;
}
button{
    cursor: pointer;
    font-size: large;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 1rem;
}

input{
    width:50vh;
    padding: 0.5rem;
    margin: 0.5rem;
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;}

.messages{
    font-size: 2rem;
    color: red;
}


th,
td {
  border: 2px solid ;
  width: 0%;
  border-collapse: collapse;
  padding: 0.5rem;
}
/* Table */
.change {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  
.change caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }
  /* footer */
.footer {
    position: sticky;
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.6s;
  }
.footer > a {
    color: var(--primary-dark);
    text-decoration: none;
  }